
body{
    margin: 0 auto;
    width: 100vw;
    background-color: whitesmoke;
}

.header{
  display: flex;
  padding: 5px;
  max-height: 300px;
  min-height: 250px;
  justify-content: center;
  align-items: center;

}

header img{
  display: flex;
  justify-content: center;
}

.banner {
  display: flex;
  align-items: center;
  background: #161922;
  padding: 5px;
  max-height: 100px;
  min-height: 50px;
  justify-content: center;
}

#searchbar{
    height: 20%;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    max-height: 45px;
    min-height: 45px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    padding: 2px;
    
}

#searchbar img{
  padding: 2px;
  justify-content: space-around;
}

.top{
 justify-content: space-evenly;
 padding: 10px;
}

a{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  color:whitesmoke; 
}

a:visited { 
  text-decoration: none; 
 }


a:hover{
  text-decoration: none; 
  color:grey;
}

.main{
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding-inline-start: 1px;
  padding: 3px;
  margin: auto;
}

.main img{
  display: flex;

}

.row{
  display: flex;
  align-items: center;
  padding: 2px;
  max-height: 300px;
  min-height: 300px;
  justify-content: center;
}

.row img{
  padding: 20px;
}

iframe{
  display:flex;
  justify-content: left;
  margin: auto;
  padding:10px;
  align-items: left;
}

h1{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
}

h2{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
}

li{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
}

.icons{
  display: flex;
  align-items: center;
  padding: 65px;
  max-height: 300px;
  min-height: 300px;
  justify-content: center;
}

.icons img{
  padding: 5px;
}

 
/* Media page*/

.instagram{
  display: flex;
  max-width: 600px;
  position:relative;
  margin: auto;
  justify-content: space-evenly;
}

/* ======= CAROUSEL SECTION ======== */
.carousel{
  overflow: hidden;
  max-width: 600px;
  position:relative;
  margin: auto;
}

.carousel .carousel_item,
.carousel .carousel_item--hidden {
  display:none;
}
.carousel .carousel_item img{
  max-width: 600px;
  width: 100%;
  height: auto;
}

.carousel .carousel_item--visible{
  display: block;
}

.carousel .carousel_actions{
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.carousel .carousel_actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

.carousel .carousel_actions button#carousel_button--prev{
  margin-left: 20px;
}

.carousel .carousel_actions button#carousel_button--next{
  margin-right: 20px;
}

footer{
  height: 100px;
  background:whitesmoke;
  text-align: center;
}

.budget a{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  color:black;
}

footer p{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 10px;
  font-weight: 300;
  color:black;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 400px) (max-width:1024px) {
  body {
    background-color:whitesmoke;
  }
}

li a{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  color:black;

}